@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.equalsButtonContainer {
  @include blockContainer();

  .equalsButton {
    background-color: $primaryColor;
    width: 100%;
    height: 64px;
    border: none;
    border-radius: 6px;
    @include text(14px, #fff, 500);
  }

  .active {
    &:hover {
      cursor: pointer;
    }
  }
}