@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.operationButton {
  border: 1px solid $bgColor;
  border-radius: 6px;
  background-color: transparent;
  width: 52px;
  height: 52px;
  @include text(14px, $textColor, 500);
}

.active {
  &:hover {
    border: 2px solid $primaryColor;
    cursor: pointer;
  }
}