@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.DragFieldContainer{
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 243px;
  height: 448px;
  padding: 2px;
  border: 2px dashed $borderColor;
  border-radius: 6px;

  .title {
    @include text(14px, $primaryColor, 500);
    margin-top: 12px !important;
  }

  .body {
    @include text(12px, $textBody, 300);
    text-align: center;
    max-width: 106px;
  }

}

.disable {
  user-select: none;
  pointer-events: none;
}