$bgColor: #E5E5E5;
$secondBgColor: #fff;
$textColor: #111827;
$textBody: #6b7280;
$secondTextColor: #4d5562;
$primaryColor: #5D5FEF;
$borderColor: #C4C4C4;


$fontFamily: "Inter", sans-serif;
$boxShadow: 0 2px 4px rgb(0 0 0 / 6%), 0 4px 6px rgba(0, 0, 0, 0.15);